* {
  background-color: black;
}

h1 {
  color: white;
  background-color: rgb(10, 225, 150);
}

h2 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  color: white;
  text-align: end;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.opdeling {
  display: grid;
  grid-template-columns: repeat(auto-fit);
}
