---
import "../styles/global.css";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <header>
    <Header />
  </header>

  <body>
    <main>
      <card>
        <img src="/images/1.png" alt="" />
        <h1>heyyyyyy</h1>
      </card>
    </main>
  </body>

  <section class="opdeling">
    <Section title="Album">
      <Card title="Miley Cyrus" img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" subtitle="Bangerz" />
      <Card title="Jay-z" img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" subtitle="Swagga" />
    </Section>
  </section>

  <Section title="Kuntsner">
    <Card title="Miley Cyrus" img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" subtitle="Bangerz" shape="round" />
    <Card title="Jay-z" img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" subtitle="Swagga" shape="round" />
  </Section>

  <!-- <section class="section">
        <h2>Populære Artister</h2>
        <a href="/#">See all</a>
        <div class="list">
          <Card title="Miley Cyrus" img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" subtitle="Bangerz" shape="round" />
          <Card title="Jay-z" img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" subtitle="Swagga" shape="round" />
        </div>
      </section> -->

  <footer></footer>


</html>
